body {
  margin: 0;
  padding: 0;
  /* background-color: #000000; */
  background-color: #ffffff;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  color: #f0ffff;
}

/* Top Header */
.topHeader {
  text-align: center;
  padding: 1px;
  background-color: #ff6b35;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.7rem;
}

/* Navbar */
nav {
  text-align: center;
  border-bottom: 4px solid #ff6b35;
  background-color: #000000;
}
h2 {
  font-size: 2rem;
  letter-spacing: 2px;
  margin: 0;
  padding: 20px;
}
nav h2::after {
  content: "Digital";
  text-transform: uppercase;
  color: #ff6b35;
  display: block;
  font-size: small;
  letter-spacing: 8px;
  margin: 10px;
}
.nav-links {
  display: flex;
  background-color: #1a1a1a;
  margin: auto;
  width: 70%;
  justify-content: center;
  margin-bottom: 20px;
}
nav a {
  padding: 13px 15px;
  background-color: #2a2a2a;
  color: #f0ffff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
}
nav a:hover {
  background-color: #ff6b35;
  color: #000000;
}

/* Hero */
.hero {
  text-align: center;
  padding: 80px;
  border-bottom: 15px solid #ff6b35;
  background-color: #000000;
}

.hero .firstP {
  color: #ff6b35;
  font-weight: 300;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.hero h1 {
  font-size: 4rem;
}
.hero i {
  color: #e7e5e5;
  display: block;
  font-size: 1.1rem;
  margin-bottom: 50px;
}
.hero .fBtn,
.hero .sBtn {
  padding: 20px 50px;
  margin: 20px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.hero .fBtn {
  color: #f0ffff;
  background-color: #ff6b35;
}
.hero .fBtn:hover {
  background-color: #000000;
  border: 3px solid #ff6b35;
  color: #ff6b35;
}
.hero .sBtn {
  border: 3px solid #f0ffff;
  color: #f0ffff;
}
.hero .sBtn:hover {
  background-color: #f0ffff;
  color: #000000;
}

/* About */

.mainH1 {
  text-align: center;
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #000000;
}
.about {
  border-bottom: 6px solid #000000;
  margin-bottom: 100px;
}
.about hr {
  width: 100px;
  height: 5px;
  background-color: #ff6b35;
  border: none;
}
.aboutCards {
  padding: 50px 300px;
  display: flex;
  gap: 30px;
}
.aCard1,
.aCard2 {
  width: 50%;
  border: 5px solid #ff6b35;
  background-color: #000000;
  padding: 10px 40px;
  line-height: 30px;
  color: #c7bebe;
}
.aboutCards h3 {
  color: #ff6b35;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.about .card1Span {
  background-color: #ff6b35;
  color: #f0ffff;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
}
.about .card2Span {
  font-weight: bold;
}
.about .aCard2 p {
  border-bottom: 2px solid #2a2a2a;
  padding: 5px;
}
.about .aCard2 p:hover {
  color: #ff6b35;
  background-color: #1f1d1d;
  padding: 4px;
}
